:root{   //selector
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.first-section{
    
    width: 80%;
    margin: auto;
    #header{
        #title{
            font-size: 4rem;
        }
    }
    .main{
        .img-container{
            img{
                width: 100%;
            }
        }
        .text-container{
            display: flex;
            flex-direction: column;
            p{ 
                font-size: 2rem;
                &:hover{
                    font-weight: bold;
                }
            }
            .pale{
                opacity: 0.6;
                &:hover{
                    font-weight: bold;
                }
        }
        }
    }
}
.nav {
    display: block;
    float: right;
    position: fixed;
    margin-left: 90%;
    background-color: lightgrey;
    width: 10%;
    height: auto;

    > h2 { //selector
        font-weight: bold;
        font-size: 1.5rem;
    }
    h2 + div{
        font-size: 1.5rem;
        color: black;
       
        ul{
            li {
                a:visited{
                    color: black;
                }   
            }
        }
    }

    }
    
