*{
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.first-section{
    
    width: 80%;
    margin: auto;
    #header{
        #title{
            font-size: 4rem;
        }
    }
    .main{
        .img-container{
            img{
                width: 100%;
            }
        }
        .text-container{
            display: flex;
            flex-direction: column;
            p{ 
                font-size: 2rem;
                &:hover{
                    font-weight: bold;
                }
            }
            .pale{
                opacity: 0.6;
                &:hover{
                    font-weight: bold;
                }
        }
        }
    }
}
.comments {
    background-color: blue;
    width: 800px;
    height: 10px;
}