*{
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.first-section{
    
    #header{
        #title{
            font-size: 4rem;
        }
    }
    .main{
        p{
            font-size: 2rem;
        }
        .pale{
            opacity: 0.6;
            &:hover{
                font-weight: bold;
            }
        }
    }
}